*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  background:#071c3a;
  color:white;
}

/* Container */
.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

/* Header */
.header{
  background:rgba(7,28,58,0.9);
  backdrop-filter: blur(10px);
  padding:15px 0;
  border-bottom:1px solid rgba(255,255,255,0.1);
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* Logo */
.logo img{
  height:45px;
}

/* Menu */
.menu{
  display:flex;
  gap:30px;
}

.menu a{
  color:white;
  text-decoration:none;
  font-size:18px;
  font-weight:500;
  transition:0.3s;
}

.menu a:hover{
  color:#d4af37;
}

/* Hero */
.hero{
  padding:120px 0;
  text-align:center;
  background:linear-gradient(rgba(7,28,58,0.9), rgba(7,28,58,0.9)),
  url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");
  background-size:cover;
  background-position:center;
}

.hero h1{
  font-size:42px;
  margin-bottom:20px;
}

.hero p{
  font-size:18px;
  margin-bottom:40px;
  color:#cccccc;
}

/* Buttons */
.buttons{
  display:flex;
  justify-content:center;
  gap:20px;
}

.btn{
  padding:14px 30px;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

.primary{
  background:#d4af37;
  color:#071c3a;
}

.secondary{
  border:2px solid #d4af37;
  color:#d4af37;
}

.primary:hover{
  background:#c19b2e;
}

.secondary:hover{
  background:#d4af37;
  color:#071c3a;
}
